* {
	box-sizing: border-box;
}

.container {
	border: 10px solid rgb(180, 255, 180);
	width: 450px;
	height: 600px;
		margin: 0 auto;
}

.header {
	width: 100%;
	height: 30%;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.location {
	text-align: center;
}

.img-container {
	width: 240px;
	height: 240px;
	margin: auto;
	margin-top: -150px;
}

.photo {
	width: inherit;
	height: inherit;
	border: 10px solid white;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}